
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300&display=swap');
/* font-family: 'Amatic SC', cursive;
font-family: 'Open Sans Condensed', sans-serif; */

body{
    background-color: #faf6e9;
    margin:0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

#header{
    height:100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    /* background-color: rgb(238, 231, 192);   */
    background: radial-gradient(ellipse at top, #fcf5ee, transparent),
                radial-gradient(ellipse at bottom, #dacd88, transparent);
}
.title_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 4%;
    margin-right: 5%;
    font-family: 'Amatic SC', cursive;
    font-size: 800%;
}

.text{
    font-size:30px;
    margin: 0 10%;
    align-self: center;
    text-align: center;
    
}

#header img {
    max-height: 300px;
}


#index_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:100vh;
    background: radial-gradient(ellipse at top, #fceaf7, transparent),
                radial-gradient(ellipse at bottom, #dacd88, transparent);

}

#index_container img{
    max-height: 50%;
}

#index{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    max-width: 50%;
}

#index p{
    text-align: flex-start;
    font-size: 30px;
    padding-bottom: 5%
}


a{
    text-decoration: none;
    font-size: 25px;
    padding: 2%;
    color: black;
}

.wrapper{
    margin: 0;
    padding: 0;
    padding: 5% 20%;
}

li{
    margin-bottom: 2%;;
}
h2{
    color: #ada474;
    font-weight: bold;
    font-size: 30px;
}

.footer{
    height:40vh;
    background: #f0d212;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer img{
    height: 100%;
}

.text_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 40%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    body{
        font-size: 15px;
    }
    #header img{
        display: none;
    }
    #header{
        font-size: 70%;
    }
    .text{
        font-size: 20px;
    }
    #index{
        flex-direction: column;
        max-width: 80%;
    }
    #index p{
        font-size: 25px;        
    }
    #index_container img{
        display: none;
        padding: 0;
    }
    .wrapper{
        padding: 2%;
    }
    .footer{
        padding-top: 5%;
        height: 20vh;
    }
    
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #header img{
        max-height: 100px;
    }
    #header{
        font-size: 70%;
    }
    #index_container img{
        display: none;
    }
    #index{
        max-width: 80%;
    }
    .footer{
        height: 20vh;
    }
}