<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="./favicon-144.png">
    <title>The Bayes Way</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <section id="header">

            <a href="https://github.com/unbalancedparentheses/the_bayes_way">
                <img id="fork_me" 
                src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub"
                data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png">
            </a>
        <div class="title_container">
            <img src="../img/imageA.png" alt="Decorative image">
            <p>The Bayes Way</p>
            <img src="../img/imageB.png" alt="Decorative image">
        </div>
        <p class="text">
            The Bayes Way - this page - is a small small subset consisting of the
            best articles, papers, videos and books to learn Probability and
            Statistics. It is a way to reduce the signal-noise ratio for beginners.
        </p>
    </section>
    <section id="index_container">
        <div id="index">
            <p>
                The Bayes Way - this page - is a small small subset consisting of the
                best articles, papers, videos and books to learn Probability and
                Statistics. It is a way to reduce the signal-noise ratio for beginners.
            </p>
            $toc$
        </div>
        <img src="../img/imageC.png" alt="Decorative Image">
    </section>
    <section class="wrapper">
        $body$
    </section>
    <section class="footer">
        <div class="text_container">
            <h1>Spawned By</h1>
                <a class="name" href="http://federicocarrone.com/">Federico Carrone</a>
            <h1>Thanks To</h1>
                <ul>
                    <li><a class="name" href="">Martina Cantaro</a></li>
                    <li><a class="name" href="https://www.github.com/catalinasy">Catalina Syddall</a></li>
                </ul>
        </div>
        <img src="../img/imageD.png" alt="Decorative image">
    </section>
</body>
</html>