
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300&display=swap');
/* font-family: 'Amatic SC', cursive;
font-family: 'Open Sans Condensed', sans-serif; */

body{
    background-color: white;
    margin:0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

#fork_me{
    position: absolute; 
    top: 0; 
    right: 0; 
    border: 0; 
}
#header{
    height:100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    background: #fff6c6;
}
.title_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 4%;
    margin-right: 5%;
    font-family: 'Amatic SC', cursive;
    font-size: 800%;
}

.text{
    font-size:30px;
    margin: 0 10%;
    align-self: center;
    text-align: center;
    
}

#header img {
    max-height: 300px;
}


#index_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:100vh;
    background: rgb(245, 239, 205);
    color: black
}

#index_container img{
    max-height: 50%;
}

#index{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    max-width: 50%;
}

#index p{
    text-align: flex-start;
    font-size: 30px;
    padding-bottom: 5%
}


#index a{
    text-decoration: none;
    font-size: 25px;
    padding: 2%;
    color: black
}

.wrapper{
    margin: 0;
    padding: 0;
    padding: 5% 20%;
    background-image: URL('../img/background-cloud.png');
    background-size: 20%;
    background-position: right 100px top 100px;
    background-repeat: no-repeat;
    opacity: 0.4;
}

#index li{
    margin-bottom: 2%;
    
}
li{
    margin-bottom: 2%;
}
ol a{
    text-decoration: none;
    font-size: 25px;
    padding: 2%;
    color: black;
}
h2{
    color: #ada474;
    font-weight: bold;
    font-size: 30px;
}

.footer{
    height:40vh;
    background: #f30202;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../img/background-image.png');
    background-size: 3%;
    background-repeat: repeat-x ;
    background-position: bottom;
    padding-top: 2%;
}
.footer img{
    height: 100%;
}

.text_container{
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    margin: 2% 5%;
    min-width: 50%;
}

h1{
    font-family: 'Amatic SC', cursive;
    font-size: 300%;
    margin:0;
    padding-bottom: 10%;
    align-self: flex-start;
    min-width: 50%;;
}

.name{
    text-decoration: none;
    background: black;
    color: white;
    font-size: 20px;
    margin-left: 10%;
    max-width: 30%;
    border-bottom: #cec797 solid 3px;
    padding: 5px;

}

#spawned_by{
    width: 50%;
    margin-bottom: 5%;
}


#thanks{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

#thanks ul{
    width: 100%;
    list-style-type: none;
    display: flex;
}

ul li{
    min-width: 50%;
    padding-bottom:20%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation: portrait){

    #header img{
        display: none;
    }
    #header{
        font-size: 70%;
        height: 30vh;
    }
    .title_container p{
        padding: 0;
        margin: 0;
    }
    .text{
        display: none;
    }
    #index{
        flex-direction: column;
        max-width: 80%;
    }
    #index p{
        font-size: 20px;        
    }
    li{
        font-size: 15px;
    }
    #index_container img{
        display: none;
        padding: 0;
    }
    .wrapper{
        padding: 2%;
    }
    .footer{
        padding-top: 5%;
        height: 20vh;
    }
    
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #header img{
        max-height: 100px;
    }
    #header{
        font-size: 70%;
    }
    #index_container img{
        display: none;
    }
    #index{
        max-width: 80%;
    }
    .footer{
        height: 20vh;
    }
}